<div style="text-align:center">
  <h2>Calculadora de Resistencias</h2>

  <table border="1" style="margin:auto;">
    <tr>
      <td>
        <div  class="form-control" style="background:#ccc">1ra. Banda</div>
        <div class="form-control" *ngFor="let c of colores; let i = index" style="display:flex;align-items:center;">
          <input type="radio" name="b1" (change)="setBanda1(i)" />
          <div style="width:40px;height:20px;" [style.background]="c.hex"></div>
          <span>{{c.valor}}</span>
        </div>
      </td>

      <td>
        <div class="form-control" style="background:#ccc">2da. Banda</div>
        <div class="form-control" *ngFor="let c of colores; let i = index" style="display:flex;align-items:center;">
          <input type="radio" name="b2" (change)="setBanda2(i)" />
          <div style="width:40px;height:20px;" [style.background]="c.hex"></div>
          <span>{{c.valor}}</span>
        </div>
      </td>

      <td>
        <div class="form-control"  style="background:#ccc">3ra. Banda</div>
        <div class="form-control" *ngFor="let m of multiplicadores" style="display:flex;align-items:first baseline;">
          <input type="radio" name="b3" (change)="setBanda3(m)" />
          <div style="width:40px;height:20px;" [style.background]="m.hex"></div>
          <span>{{m.texto}}</span>
        </div>
      </td>
    </tr>
  </table>

  <br>

  <table border="1" style="margin:auto;">
    <tr *ngFor="let t of tolerancias">
      <td><input type="radio" name="tol" (change)="setTolerancia(t)" /></td>
      <td style="width:100px;text-align:center;" [style.background]="t.hex">{{t.nombre}}</td>
    </tr>
  </table>

  <br>
  <button class="btn btn-primary" (click)="calcularResistencia()">Calcular</button>

  <br><br>

  <table border="1" style="margin:auto;text-align:center;">
    <tr>
      <th>Color1</th>
      <th>Color2</th>
      <th>Color3</th>
      <th>Tolerancia</th>
      <th>Valor</th>
      <th>Valor máximo</th>
      <th>Valor mínimo</th>
    </tr>
    <tr *ngIf="resultado">
      <td [style.background]="color1Hex">{{color1}}</td>
      <td [style.background]="color2Hex">{{color2}}</td>
      <td [style.background]="color3Hex">{{color3}}</td>
      <td [style.background]="tolHex">{{toleranciaNombre}}</td>
      <td>{{valorBase}}</td>
      <td>{{valorMax}}</td>
      <td>{{valorMin}}</td>
    </tr>
  </table>
</div>